---
import ProductTitleDesc from "./ProductTitleDesc.astro";

const { product, index } = Astro.props;
const { id, body } = product;
const { title, description, mainImg, variants } = product.data;
---

<div
   class={`w-full ${index % 2 === 0 ? "bg-white" : "bg-gray-100"} p-10 flex justify-around items-center`}
>
{
    index % 2 === 0 ? (
        <ProductTitleDesc
            product={product}
        />
    <a href={`/product/${id}`} class="overflow-hidden rounded-md">
        <img
            src={`/img/main/${mainImg}`}
            alt={`Imagen ${title}`}
            class="rounded-md w-96 hover:scale-110 duration-500"
            />
            </a>
    ) : (
    <a href={`/${id}`} class="overflow-hidden rounded-md">
        <img
        src={`/img/main/${mainImg}`}
        alt={`Imagen ${title}`}            
        class="rounded-md w-96 hover:scale-110 duration-500"
        />
    </a>
        <ProductTitleDesc
            product={product}
        />
   )
}
   
</div>
