---
import ProductTitleDesc from "./ProductTitleDesc.astro";

const { product, index } = Astro.props;
const { id, body } = product;
const { title, description, mainImg, variants } = product.data;
---

<div
   class={`w-full ${index % 2 === 0 ? "bg-white" : "bg-gray-100"} p-10 flex justify-around items-center`}
>
{
    index % 2 === 0 ? (
        <ProductTitleDesc
            product={product}
        />
        <img
            src={`/img/main/${mainImg}`}
            alt={`Imagen ${title}`}
            class="rounded-md w-96"
        />
    ) : (
        <img
            src={`/img/main/${mainImg}`}
            alt={`Imagen ${title}`}
            class="rounded-md w-96"
        />
        <ProductTitleDesc
            product={product}
        />
   )
}
   
</div>
